/* TODO: 
  //- mui
  - org styles
  - load font
  //- click to configure
  - publish -> play mode
  - tokenize constituent words
*/

.App {
  font-family: sans-serif;
  text-align: center;
}

line {
  stroke-dasharray: 6;
  stroke-dashoffset: 100;
  /* stroke-dasharray: 1000;
  stroke-dashoffset: 1000; */
  animation: dash 10s ease forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
